.ColorPicker {
    display: inline-block;
    text-align: left;
}


.field-container {
    display: inline-block;
    width: 180px;
    vertical-align: top;
    margin-top: 13px;;
}

.field-container .label {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    text-align: right;
    padding-right: 9px;
}

.field-container label {
  font-weight: 400 !important;
}

.ColorPicker input[type="color"] {
  width: 76px;
}

.ColorPicker select {
  width: 76px;
}
