.PositionPicker {
    display: inline-block;
    width: auto;
    margin-left: 78px;
}

.PositionPicker .field-container {
    width: 90px;
    /* text-align: center; */
}

.PositionPicker input {
  margin-right: 5px;
}
