
.SelectSection {
  margin-bottom: 20px;
}

.SelectSection div {
  display: inline-block;
}

.SelectSection .buttons.right-col {
  text-align: right;
}

.SelectSection .button-wrapper {
  display: block;
  margin-left: 104px;
  margin-top: 26px;
  margin-bottom: 26px;
}

@media all and ( min-width: 1200px ) {
  .SelectSection .button-wrapper {
    display: inline-block;
    margin-top: 0;
    margin-left: 78px;
  }
}

.SelectSection input {
  width: auto !important;
}

.SelectSection span {
  font-size: 13px;
  font-weight: 600;
  margin-right: 13px;
}

#name-select {
  min-width: 200px;
  border: 1.5px solid #909090;
}


.NewButton, .SaveButton {
  transition: 0.2s ease-out;
}

.NewButton {
  margin-left: 20px;
}
