.TextSection {
  padding: 20px;
  margin-bottom: 20px;
}


.TextSection label {
  margin-right: 20px;
}

.text-label {
  display: inline-block;
  vertical-align: top;
  text-align: right;
  width: 120px;
  margin-right: 5px;
}

.TextField, .TextareaField {
  display: inline-block;
  vertical-align: top;
  width: 78%;
  margin-left: 26px;
}

@media all and ( min-width: 1250px ) {
  .TextField, .TextareaField {
    margin-left: 0;
  }
}

.TextField input {
    width: 98%;
}

.TextField.TextareaField textarea {
    width: 98%;
    min-height: 100px;
    border: 1.5px solid #909090;
}
