.IsIsntRadios {
    display: inline-block;
    vertical-align: middle;
}

.IsIsntRadios label {
    display: block;
    opacity: 0.5;
    transition: 0.2s all ease;
}

.IsIsntRadios label.checked {
  opacity: 1;
}
