.SaveToUsermeta {
  position: relative;
  padding-left: 31px;
}

.SaveToUsermeta input {
  position: absolute;
  top: 5px;
  left: 15px;
}

.SaveToUsermeta .description {
  display: inline-block;
  margin-left: 80px;
}
